/*  Iconos de Google */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


:root {
    --bg-princpal: #f8f9fa;
    --bg-boton: #343a40;
}

body {
    margin: 0px;
    background-color: var(--bg-princpal);
}

.contenedor {
    margin: 0px 10px;
    padding: 16px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-logo {
    color: darkgray;
}

.contenedor-inicio {
    padding: 8px;
    margin: 20px 0px;
}

.titulo {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0px 0px 8px 0px;
}

.titulo h1 {
    margin: 0px;
}

.contenedor-botones {
    padding: 24px;
    margin: 16px 0px;
    max-width: 700px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px lightgrey;
    border: 1px solid rgb(235, 234, 234);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.form-campo {
    appearance: none;
    outline: none;
    padding: 8px 20px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    border: 1px solid rgb(235, 234, 234);
    border-radius: 8px;
    flex-grow: 1;
    min-width: 193px;
}

.form-campo:focus {
    box-shadow: 2px 2px 10px lightgrey;
}

.boton-dark {
    padding: 6px 8px;
    min-width: 150px;
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    background-color: var(--bg-boton);
    border: 0px solid transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.boton-dark:hover {
    background-color: rgba(52, 58, 64, 0.9);
}

.contenedor-opciones {
    display: none;
    padding: 8px;
    margin: 20px 0px;
}


.contenedor-exportar {
    display: none;
    padding: 8px;
    margin: 20px 0px;
    flex-direction: column;
    align-items: center;
}

.volver {
    padding: 6px 16px;
    color: white;
    background-color: #343a40;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    min-width: 120px;
    text-align: center;
}

.contenedor-configuracion {
    display: flex;
    justify-content: center;
    padding: 14px;
    box-sizing: border-box;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

#restablecer-hecho-tipo {
    flex: 0 1 auto;
}

#siguiente {
    flex: 0 1 auto;
}

.icon-sm {
    width: 30px;
}

.icon-lg {
    width: 50px;
}

.icon-xl {
    min-width: 100px;
    max-height: 100px;
}

.content-previsualizar {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.previsualizador {
    padding: 20px;
    min-width: none;
    border: 1px solid rgb(235, 234, 234);
    border-radius: 10px;
    background-color: white;
    flex: 0 1 720px;
    min-width: 600px;
    box-sizing: border-box;
}

.prev-cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 16px 0px 32px;
}

.prev-cabecera img {
    align-self: center;
}

.prev-cabecera div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

.prev-cabecera h3,
h4,
p {
    margin: 6px 0px;
}

.prev-contenido {
    margin: 30px 0px;
    padding: 0px 12px;
}



/* Animación de aparecer */
.showUp {
    animation: showup;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes showup {
    0% {
        background-color: white;
        border-radius: 10px;
    }

    100% {
        background-color: var(--bg-princpal);
    }
}