/* Iconos de Google */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}


:root {
    --bg-princpal: #f8f9fa;
    --bg-boton: #343a40;
}

body {
    margin: 0px;
    background-color: var(--bg-princpal);
}

.contenedor {
    margin: 0px 20px;
    padding: 16px 16px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.contenedor-logo {
    color: darkgray;
}

.contenedor-pqrs {
    padding: 8px;
}

.titulo {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0px 0px 8px 0px;
}

.titulo h1 {
    margin: 0px;
}

.contenedor-botones {
    padding: 24px;
    margin: 20px 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px lightgrey;
    border: 1px solid rgb(235, 234, 234);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
   
}

.form-campo {
    appearance: none;
    outline: none;
    padding: 8px 20px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    border: 1px solid rgb(235, 234, 234);
    border-radius: 8px;
    flex-grow: 1;
}

.form-campo:focus {
    box-shadow: 2px 2px 10px lightgrey;
}

.boton-dark {
    padding: 6px 8px;
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    background-color: var(--bg-boton);
    border: 0px solid transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.boton-dark:hover {
    background-color: rgba(52, 58, 64, 0.9);
}
.icon-lg{
    width: 30px;
}